.about-us {
  display: flex;
  background-color: $color-background-secondary;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin: auto;
  h1 {
    font-size: 2.125rem;
    line-height: 3.4375rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.875rem;
    line-height: 3.375rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 55px;
  }
  img {
    width: 10vw;
    align-self: flex-end;
  }
}
