.four-steps-heading {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  h1 {
    font-size: 2.125rem;
  }
}
.four-steps-content {
  background-color: $color-background-secondary;
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 35px;
}
.four-steps-content-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 8vw;
  text-align: center;
  h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
