.header__signinbox {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  a {
    font-size: 0.875rem;
    color: $color-font-darker;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: 1px solid $color-background;
    &:hover {
      color: $color-background;
      border: 1px solid $color-primary;
    }
  }
  p {
    padding: 10px;
    font-size: 0.875rem;
    color: $color-black;
  }

  .header__signinbox-button {
    font-size: 0.875rem;
    color: $color-font-darker;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: 1px solid $color-background;
    &:hover {
      border: 1px solid $color-primary;
    }
  }
  .header__logout-button {
    font-size: 0.875rem;
    color: $color-font-darker;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: 1px solid $color-background;
    &:hover {
      color: #000000;
      border: 1px solid $color-primary;
    }
  }
}
.header__box {
  margin-top: 30px;
  margin-right: 100px;
}
