.btn {
  font-size: 2rem;
  line-height: 2.875rem;
  font-weight: 300;
  padding: 12px 70px;
  width: 320px;
  height: 120px;
  text-align: center;
  border: 1px solid $color-font;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-font;
}
