.giveItems-form {
  background-image: url("../../assets/Background-Form.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 880px;
  padding-left: 140px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 40px;
  button {
    margin-top: 100px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    border: 1px solid $color-font;
    padding: 23px 63px;
    background-color: #0000;
  }
  label {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    color: $color-black;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    input[type="radio"] {
      position: relative;
      margin-right: 30px;
      cursor: pointer;
      appearance: none;
    }
    input[type="radio"]:checked::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $color-font;
      background-color: $color-primary;
    }
    input[type="radio"]::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $color-font;
    }
    .select {
      border: 1px solid $color-font;
      background-color: transparent;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      background-image: url("../../assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position: right;
      height: 50px;
      padding: 5px;
      width: 300px;
      padding-left: 20px;
      appearance: none;
      cursor: pointer;
      position: relative;
      ul {
        position: absolute;
        order: 9999;
        top: 55px;
        right: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
      }
      .select-option {
        display: block;
        background-color: transparent;
        width: 85px;
        border-left: 1px solid $color-font;
        border-right: 1px solid $color-font;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .select-option:first-of-type {
        border-top: 1px solid $color-font;
      }
      .select-option:last-of-type {
        border-bottom: 1px solid $color-font;
      }
    }
    .select-localization {
      border: 1px solid $color-font;
      background-color: transparent;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      background-image: url("../../assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position: right;
      height: 50px;
      padding: 5px;
      width: 300px;
      padding-left: 20px;
      appearance: none;
      cursor: pointer;
      position: relative;
      ul {
        position: absolute;
        z-index: 9999;
        top: 55px;
        right: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
      }
      .select-localization-option {
        display: block;
        background-color: #e8e9e4;
        width: 300px;
        border-left: 1px solid $color-font;
        border-right: 1px solid $color-font;
        text-align: left;
        padding-left: 20px;
        font-size: 1.5rem;
        line-height: 2rem;
        &:first-of-type {
          border-top: 1px solid $color-font;
        }
        &:last-of-type {
          border-bottom: 1px solid $color-font;
        }
      }
    }
  }
}

.giveItems-form-step {
  font-size: 1.5rem;
  font-weight: 300;
}
.giveItems-form-stepTitle {
  font-size: 2rem;
  font-weight: 600;
  color: $color-black;
  margin-top: 50px;
}
div.giveItems-form-label-step3-small {
  position: relative;
  width: 50%;
  p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: $color-black;
  }
  label {
    margin-right: 25px;
    margin-top: 25px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    border: 1px solid $color-font;
    padding: 11px 26px;
    display: inline-block;
    input[type="checkbox"] {
      display: none;
    }
  }
}
label.giveItems-form-label-step3-organisation {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  cursor: auto;
  input {
    width: 100%;
    background-color: transparent;
    border: 1px solid $color-font;
    cursor: pointer;
  }
}
.giveItems-form-step-content {
  display: flex;
  gap: 150px;
  div {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 1.5rem;
      line-height: 3rem;
      font-weight: 600;
      color: $color-black;
    }
    label {
      display: flex;
      justify-content: space-between;
      gap: normal;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;

      input[type="text"],
      input[type="number"],
      input[type="date"],
      input[type="time"],
      textarea {
        width: 250px;
        background-color: transparent;
        border: 1px solid $color-font;
      }
      textarea {
        resize: none;
      }
      input[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
        }
      }
    }
  }
  .giveItems-form-summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      width: 100%;
      text-align: left;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      max-width: 200px;
      overflow-x: auto;
    }
  }
}

.giveItems-form-summary-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h5 {
    font-size: 1.375rem;
    font-weight: 600;
    color: $color-black;
  }
  p {
    height: 50px;
    font-size: 1.5rem;
    img {
      height: 50px;
      margin-right: 20px;
    }
  }
}
