.giveItems-form {
  background-image: url("../../assets/Background-Form.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 880px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 40px;
  div {
    position: absolute;
    bottom: 50px;
  }
  button {
    margin-top: 100px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    border: 1px solid $color-font;
    padding: 23px 63px;
    background-color: #0000;
  }
  label {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    color: $color-black;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    input[type="radio"] {
      position: relative;
      margin-right: 30px;
      cursor: pointer;
      appearance: none;
    }
    input[type="radio"]:checked::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $color-font;
      background-color: $color-primary;
    }
    input[type="radio"]::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid $color-font;
    }
    .select {
      border: 1px solid $color-font;
      background-color: transparent;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      background-image: url("../../assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position: right;
      height: 50px;
      width: 300px;
      padding-left: 20px;
      text-align: right;
      appearance: none;
      cursor: pointer;
      padding-right: 260px;
      .select-option:not(:checked) {
        background-color: rgba($color: $color-font-darker, $alpha: 0.1);
        text-align: right;
      }

      .select-option:checked,
      .select-option:active {
        background-color: rgba($color: $color-font-darker, $alpha: 0.1);
        text-align: right;
        display: none;
      }
    }
    .select-localization {
      border: 1px solid $color-font;
      background-color: transparent;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      background-image: url("../../assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position: right;
      height: 50px;
      width: 300px;
      padding-left: 20px;
      appearance: none;
      cursor: pointer;
      margin-bottom: 20px;
      .select-localization-option:not(:checked) {
        background-color: rgba($color: $color-font-darker, $alpha: 0.1);
      }

      .select-localization-option:checked,
      .select-localization-option:active {
        background-color: rgba($color: $color-font-darker, $alpha: 0.1);
        display: none;
      }
    }
  }
}
.giveItems-form-step {
  font-size: 1.5rem;
  font-weight: 300;
}
.giveItems-form-stepTitle {
  font-size: 2rem;
  line-height: 2.875rem;
  font-weight: 600;
  color: $color-black;
  margin-top: 70px;
}
